<div class="container-fluid">
  <div class="offset-md-2 col-md-8">
    <%= simple_form_for @resume do |f| %>
      <div class="form-group">
        <%= f.input :title, label: false, class: "form-control", placeholder: "请输入简历名称" %>
      </div>

      <div class="form-group">
        <%= f.input :content, as: :text, label: false, input_html: { rows: 15, class: "form-control"} %>
      </div>

      <div class="form-froup pull-right">
        <%= f.button :submit, "保存", class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
