<footer class="container" style="margin-top: 100px;">
  <p class="text-center">Copyright ©2018 LYZ的个人网站
    <br>Design by
    <a href="http://blog.csdn.net/luoyegufei129" target=_new>Asia Lee</a>
    </p>
</footer>
